* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  margin:0px;
}
a {
    text-decoration: none;
}
.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
}

.rmd-menu {
    background:#E9F3FC; 
    border-width:2px; 
    border-style:outset; 
    border-color:#337AB7; 
    width:220px; 
    padding:10px 12px;
}
.rmd-title {
    font-family: Helvetica;
    font-weight: bold;
    color: #337AB7;
    margin:16px 0px 6px 0px;
    font-size: 16px;
}
.rmd-button {
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    text-align: center;
    margin: 2px 0px;
    border: 1px solid #337AB7;
    width: 100%;
    height: 26px;
    color: #000;
    background-color: #FFFFFF;
}
.rmd-button:hover {
    color: #000;
    border: 1px solid #000;
    background: -webkit-linear-gradient(left, #1E9CD9, #FFFFFF);
}

#version {
  text-align: center;
  margin-top: 4px;
  color: black;
}