.rmd-title {
    font-family: "CartoGothicStdBold",Helvetica,"Helvetica Neue",Arial,sans serif;
    font-weight: bold;
    color: #17436B;
}
.rmd-button {
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    text-align: center;
    margin: 2px 0px;
    border: 1px solid #707070;
    width: 100%;
    color: #000;
    background-color: #FFFFFF;
}
.rmd-button:hover {
    color: #000;
    border: 1px solid #000;
    background: -webkit-linear-gradient(left, #548EC4, #FFFFFF);
}
